<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>ae2732a6ec803a69bffefca137b98669</string>
	<key>WUKey</key>
	<string>d39d74b2d8f1e5bc</string>
</dict>
</plist>
